# Reggresion , Pandas , matplotlib

In [1]:
import pandas as pd

In [2]:
data=pd.read_csv(r"C:\Users\mynam\all the files for data science\Machine Learning using sklearn/Advertising.csv")

In [3]:
# How do you fix Unicodeescape codec Cannot decode bytes in position 2/3 truncated <UNK>Uxxxxxxxx escape?
# To Solve SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3:
# truncated \ UXXXXXXXX escape Error You just need to put r before your path string Just like this pandas
#. read_csv (r ”C: \ Users \ ssc \ Desktop \ account_summery. csv”)
# OR Just Use double quotes and forwardslash character

In [4]:
data.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [5]:
data.shape

(200, 5)

In [6]:
%matplotlib inline
import seaborn as sns